.cm-editor,
.markdown-reading-view {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgdmlld0JveD0iMCAwIDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8Zz4NCjxjaXJjbGUgY3g9IjUwIiBjeT0iNTAiIHI9IjMiIGZpbGw9IiMzODg0RkYiIGZpbGwtb3BhY2l0eT0iMC40Ii8+DQo8L2c+DQo8L3N2Zz4=");
  background-size: 1cm;
  background-repeat: space;
  background-attachment: fixed;
}
