body {
  --cursor-width: 3px;
  --cursor-color: var(--interactive-accent);
}

.cursorWrapper .x-cursor {
  background: var(--cursor-color);
  width: var(--cursor-width);
  left: -1px;
  top: calc(-1px - var(--header-height));
  height: calc(2px + var(--cursor-height));
  transition: opacity;
}

/* remove normal cursor when ninjacursor is installed. */
body:has(.x-cursor) .cm-editor * {
  caret-color: transparent;
}

/* disable movement effect */
.cursorWrapper .x-cursor::after {
  display: none;
}

/* remove normal cursor on text selection */
.cm-cursorLayer {
  animation: none !important;
  visibility: hidden !important;
}

/* blinking */
.cursorWrapper .x-cursor0 {
  animation: blink0 1s 0s both infinite;
}
.cursorWrapper .x-cursor1 {
  animation: blink1 1s 0s both infinite;
}

@keyframes blink1 {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes blink0 {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
